body {
    font-family: Neuton;
    font-size: 20pt;
background-color: #F2DDB8;
color: #390F8A;

}
h1, h2, h3, h4, h5, h6 {
font-family: Lobster;
font-size: 30px;
text-align: center;
}
h3 { margin: .1em;}
h1 {font-size: 40px;}

header {
    text-align: center;
}
#intro, footer {
    background-color: #BD874D;
    color: #390F8A;
    ;
    border: 5px;
    border-style: double;
    text-align: center;
}
#intro img {
    width: 200pt;
}
#bio {
    text-align: center;
}
#hobbies {
    text-align: justify;
   border-style: dashed;
   background-color: #BD874D;
    color: #390F8A;
    margin: 10px;
    display: flex; 
flex-direction: column; 
align-items: center;
    border-style: dotted;
    font-variant: small-caps;
}
#photogallery { border :2px solid #7A92F0; }
#photogallery2 { border :2px solid #7A92F0;
background-color: #BD874D; }
#photogallery3 { border :2px solid #7A92F0;}
#photogallery img{
    width: 50%;
    border-style: groove;
    border-width: 10px;
    border-color: #7A92F0;
    
}
#photogallery2 img{
    width: 50%;
    border-style: groove;
    border-width: 10px;
    border-color: #7A92F0;

}
#photogallery3 img{
    width: 50%;
    border-style: groove;
    border-width: 10px;
    border-color: #7A92F0;
}
#Lit{
font-variant: small-caps;
font-size: x-large;
font-display: bold;
background-color: #BD874D;
max-width: 100%;
columns: 20rem;

}
@media screen and (min-width : 60em) {
    figure {display:grid;
    grid-template-columns: 2fr 1fr;}

figcaption {display: flex;
justify-content: center;
align-items: center;
font-size: 3rem;
font-variant: small-caps;
margin-left: .1rem;
}

figure img {
    width: 100%;}
}

@media screen and (min-width: 100em) {
    #photogallery {display: grid;
        grid-template-columns: 1fr;
    align-items: center; }
        #photogallery2 {display: grid;
            grid-template-columns: 1fr ;
        align-items: center;}
            #photogallery3 {display: grid;
                grid-template-columns: 1fr ;
            align-items: center;}
    hr {display: none;}
    #potogallery h2 {
        grid-column: 1/-1;
    }
    figure {display: block;}
} 
