/* Adding style to the body of the website*/
body {
    font-family: Neuton;
    font-size: 20pt;
background-color: #F2DDB8;
color: #390F8A;

}
/* Adding style to the headers within the website */
h1, h2, h3, h4, h5, h6 {
font-family: Lobster;
font-size: 30px;
text-align: center;
}

h3 { 
    margin: .1em;}

h1 {
    font-size: 40px;}

header {
    text-align: center;
}
/* Style to the intro and video section only of the website*/
#intro, #video {
    background-color: #BD874D;
    color: #390F8A;
    border: 2px;
    border-style: double;
    text-align: center;
  
}


/* Styling the footer*/
footer {
    background-color: #A36D0E;
    color: black;
    border: 2px;
    border-style: double;
    border-color: #390F8A ;
    text-align: center;
    
}

/* Styling the image within the intro section*/

#intro img {
    width: 200pt;
    margin-bottom: 5rem;
    margin-top: 5rem;
    border-radius: 50rem;
    
}

/* Adding style to the Bio, Hobbies, Lit and Photogallery by making a few changes to the margin, padding, etc */

#bio {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#hobbies {
    text-align: center;
   border-style: solid;
   background-color: #BD874D;
    color: #390F8A;
    margin: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border-style: dotted;
    font-variant: small-caps;
  
}

#photogallery img{
    width: 100%;
    border-style: groove;
    border-width: 10px;
    border-color: #7A92F0;
    margin-top: 2rem;
    margin-bottom: 1rem;}

#photogallery {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#Lit{
font-variant: small-caps;
font-size: x-large;
font-display: bold;
background-color: #BD874D;
clear: both;
max-width: 100%;
columns: 20rem;
}

/* Adding a block letter style to the first letter of the liturature paragraph */

#Lit div p:first-child:first-letter {
    color: #390F8A;
    float: left;
    font-size: 2em;
line-height: 1em;
padding: .25;
margin-right: .25;
border:3px;
border: groove;
background-color: BROWN;
text-shadow: 5px;

}

/* Ensuring that the webpage would be responsive to different sized screens */

@media screen and (min-width : 60em) {
    figure {
        display:grid;
    grid-template-columns: 2fr 1fr;}

figcaption {
    display: flex;
justify-content: center;
align-items: center;
font-size: 3rem;
font-variant: small-caps;
margin-left: .1rem;
}

figure img {
    width: 100%;}
}

@media screen and (min-width: 100em) {
   
    #photogallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
        display: none;
    }

    #photogallery h3 {
        grid-column: 1/-1;
    }
       
    
    figure {
        display: block;}

} 

@media screen and (min-width: 100em) {
    

#video{
width: 200pt;
}


}

iframe{
    border-style: dotted;
}

/* Styling the contact form */

#formelements {

    display: grid;
    row-gap: 1em;
    align-items: center;
}

#contact {
padding: .5rem;
max-width: 600px;
margin: 2rem auto;
}
/* changing the box shape of the contact form*/
fieldset {
    
    border: double #BD874D;
    box-shadow: 5px;
    margin-bottom: 5rem;
    border-radius: 4rem;
}

legend {
background-color:#BD874D;
color: #F2DDB8;
padding: 2rem;
border-radius: 4rem;
}

#contact input, #contact textarea, #contact select, #contact button {
padding: .5rem;
font-size: 1rem;

}

#contact li {
    margin: 2rem;
    list-style: none;
}
/* Changing the style of the contact form*/
#contact button {
background-color: #BD874D;
color: #F2DDB8;
border: 1px dotted #BD874D;
max-width: 400pt;
justify-self: center;
width: 50%;
border-radius: 1rem;
font-variant: small-caps;
font-size: larger;
}
/* Adding style to the hover Explanation*/
#HoverE {
    text-align: center;
    border-style: ridge;
    border-color: #390F8A ;
    background-color: darkgrey;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
}

/* Start of the hover effect styling*/
.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
  }
  
  .img-wrapper {
    position: relative;
    overflow: hidden;
  }
  /* Styling the content */
  .img-wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Adding transition speed*/
  .img-wrapper > img,
  .img-wrapper > .content {
    transition: 200ms ease-in-out;
  }
  /* Styling the hover itself*/
  .img-wrapper:hover > img.blur {
    filter: blur(4px);
  }

  .img-wrapper:hover > img.gray {
    filter: grayscale(1);
  }
  
  .img-wrapper:hover > img.zoom {
    transform: scale(1.1);
  }
  /* Changes in fading while hovering over the image*/
  .img-wrapper > .content.fade {
    opacity: 0;
  }
  .img-wrapper:hover > .content.fade {
    opacity: 1;
  }

/* Adding style to hover explanation images*/

  #Hover1 img, #Hover3 img {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;  }

    #Hover2 img {
        width: 45%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem; 
    }

  #Hover1, #Hover2, #Hover3 {
    margin-top: 2rem; }

  